* {
  /* font-family: "epilogue"; */
  /* font-family: 'Urbanist', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'BR Sonoma', sans-serif;
  /* font-family: 'Retro Morey', sans-serif; */
/* font-family: 'Right Swipe Personal Use', sans-serif; */
  /* font-family: 'Work Sans', sans-serif; */
}


body {
  overflow-x: hidden;
}

.loginpage {
  background-image: url('../src/assets/loginblur.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.card {
  background-image: url('../src/assets/card.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.hero {
  background-image: url('../src/assets/img1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.outlet {
  position: relative;
  overflow: hidden;
  /* Ensure pseudo-element is contained */
}

.outlet::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../src/assets/bg123.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(90px);
  transform: scale(1.05);
  /* Prevent edge cropping */
  z-index: -1;
  /* Place behind content */
}